doctype html
html
  head
    title Vishal Dance Academy
    block scripts
    block style
    
      
  body
    nav#navbar.top.firstclass
      ul
        #logo
          img(src='../static/images/logo.png' alt='')
          p  VDA
        li
          a(href='/')  Home
        li
          a(href='/')  About
        li
          a(href='/contact')  Contact
        li  
          a(href='/')  Service
        li
          a(href='/')  Signup
    block content

    footer#footer  
        | copyright &copy; 2020 Vishal Dance academy
        