doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Vishal Dance Academy
  style
    include ../static/style.css
body  
  nav#navbar.top.firstclass
    ul
      #logo
        img(src='../static/images/logo.png' alt='')
        p  VDA
      li
        a(href='/')  Home
      li
        a(href='/')  About
      li
        a(href='/')  Contact
      li
        a(href='/')  Service
      li
        a(href='/')  Signup
  section#introsection
    div  Welcome to the dance academy
    div  Keep practicing
  section#missionsection
    h3  Our mission 
    .card
      p Jazz
      .card-box
        .card-img
          img(src='../static/images/img1.png' alt='')
        .card-content
          p  this is the best dance academy 
    .card
      p Hip-Hop 
      .card-box
        .card-img
          img(src='../static/images/img2.jpg' alt='')
        .card-content
          p  this is the best dance academy 
    .card
      p  Salsa 
      .card-box
        .card-img
          img(src='../static/images/img3.png' alt='')
        .card-content
          p  this is the best dance academy 
  section#sponcersection
    h3  Section for sponcer 
    #sponcer
      img.spimage(src='../static/images/sponcer1.png' alt='')
      img.spimage(src='../static/images/sponcer2.png' alt='')
      img.spimage(src='../static/images/sponcer3.png' alt='')
      img.spimage(src='../static/images/sponcer4.png' alt='')
  footer#footer  
    |  copyright &copy; 2020 Vishal Dance academy
  style
    include ../static/index.js 