* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;

}

body::before {

    content: "";
    top: 0px;
    width: 100%;
    position: absolute;
    background: url('../static/gym.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 644px;
    z-index: -1;
    opacity: 0.6;
}

nav {

    background-color: black;
    padding: 5px 18px;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
    padding: 3px 12px;
}

a {
    text-decoration: none;
    color: azure;
    font: bold;

}

h2 {
    text-align: center;
    margin: 18px;

}

.container {

    max-width: 100%;
    margin: 10px auto;
}

input,
textarea {

    display: block;
    padding: 5px;
    margin: 15px auto;
    width: 50%;
    outline: aqua;
    border: 2px solid black;
    border-radius: 5px;
}

.btn {
    border-radius: 9px;
    margin: 15px auto;
    border: 2px solid black;
    padding: 5px 12px;
    background: rgba(46, 45, 44, 0.377);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 15px;
    display: block;
    cursor: pointer;

}